<body>
    <div id="overlay">
        {% if user.is_authenticated %}
            <a href="/home/">Home</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a class="logo">Logged in as: {{ user.username }}</a>
        {% else %}
            <a href="/home/">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    
    <h2>New Category</h2>
    <form method="post" action="{% url 'new_category' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create">
    </form>

    <h1>Categories</h1>
    {% for category in categories %}
        <div>
            {{ category.name }}
            <form method="post" action="{% url 'delete_category' category.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}

    <h1>Topics</h1>
    {% for topic in topics %}
        <div>
            {{ topic.title }}
            <form method="post" action="{% url 'delete_topic' topic.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}

    <h1>Replies</h1>
    {% for reply in replies %}
        <div>
            {{ reply.content }}
            <form method="post" action="{% url 'delete_reply' reply.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}