<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }}</title>
</head>
<body>
    <div id="overlay">
        {% if user.is_authenticated %}
            <a href="/home/">Home</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a class="logo">Logged in as: {{ user.username }}</a>
        {% else %}
            <a href="/home/">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <br>
    <div id="topics">
        {% for topic in category.topic_set.all %}
            <div class="topic">
                <a href="{% url 'topic' topic.id %}"><font size="13">{{ topic.title }}</font></a>
                <p>Created by {{ topic.user.username }} on {{ topic.created_at }}</p>
            </div>
            <br>
        {% endfor %}
    </div>
    <button id="topic-button" onclick="showTopicForm()">Post a new Topic</button>
    <form id="topic-form" method="post" action="{% url 'new_topic' category.id %}" style="display:none;">
        {% csrf_token %}
        <textarea name="name"></textarea>
        <textarea name="content"></textarea>
        <input type="submit" value="Post">
    </form>
    <script>
        function showTopicForm(){
            var topicForm = document.getElementById("topic-form");
            topicForm.style.display = "block";
        }
    </script>
</body>
</html>
