
<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
</head>
<body>
    <div id="overlay">
        {% if user.is_authenticated %}
            <a href="/home/">Home</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a class="logo">Logged in as: {{ user.username }}</a>
        {% else %}
            <a href="/home/">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    <h1><font size="17">Categories</font></h1>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.id %}"><font size="13">{{ category.name }}</font></a></li>
        {% endfor %}
    </ul>
</body>
</html>

