<!DOCTYPE html>
<html>
<head>
    <title>New Reply</title>
</head>
<body>
    <h1>New Topic</h1>
    <form method="post" action="{% url 'new_topic' %}">
        {% csrf_token %}
        <label for="category">Category:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>
        <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>