<!DOCTYPE html>
<html>
<head>
    <title>{{ topic.title }}</title>
</head>
<body>
    <div id="overlay">
        {% if user.is_authenticated %}
            <a href="/home/">Home</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a class="logo">Logged in as: {{ user.username }}</a>
        {% else %}
            <a href="/home/">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    <h1><font size="17">{{ topic.title }}</font></h1>
    <p><font size="13">{{ topic.content }}</font></p>
    <p>Created by {{ topic.user.username }} on {{ topic.created_at }}</p>

    <h2>Replies</h2>
    <ul>
    {% for reply in topic.reply_set.all %}
    <div class="reply">
        <p><font size="13">{{ reply.content }}</font></p>
        <p>By: {{ reply.user.username }}, on: {{ reply.created_at }}</p>
        <form method="post" action="{% url 'upvote' reply_id=reply.id %}">
            {% csrf_token %}
            <button type="submit" name="upvote">Upvote</button>
        </form>
        <form method="post" action="{% url 'downvote' reply_id=reply.id %}">
            {% csrf_token %}
            <button type="submit" name="downvote">Downvote</button>
        </form>
        <p>Upvotes: {{ reply.upvotes }}, Downvotes: {{ reply.downvotes }}</p>
    </div>
    <br>
    {% endfor %}
    </ul>
    <button id="reply-button" onclick="showReplyForm()">Post a reply</button>
    <form id="reply-form" method="post" action="{% url 'new_reply' topic.id %}" style="display:none;">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <input type="submit" value="Post">
    </form>
    <script>
        function showReplyForm(){
            var replyForm = document.getElementById("reply-form");
            replyForm.style.display = "block";
        }
    </script>
</body>
</html>