<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" name="username" value="{{ request.POST.username }}"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}