<h3>REGISTER</h3>

<form method="POST" action = "">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}

    {{form.email.label}}
    {{form.email}}

    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}


    <input type="submit" name="Create User">
</form>
